// 颜色变量存放位置，方便随时修改主题色
$theme-color: #10b47d;
$navbar-color: $theme-color;
$bgcolor: var(--van-gray-2);
$bgcolor-gray-2: #f2f3f5;
$bgcolor-gray-3: #ebedf0;
$bgcolor-gray-4: #dcdee0;
$border-solid: #dddddd;

$navbar-height: 44px;
$tabbar-height: 50px;
$sidebar-width: 80px;
